.input-search {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.input-search span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    right: 3px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    background-color: lightgray;
    font: xx-large monospace;
    text-align: center;
    line-height: 1em;
    cursor: pointer;
}

.input-search input {
    padding-right: 18px;
    box-sizing: border-box;
}